<!doctype html>
<html>
    <head>
        <title>Spindrift</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="_ui/skin/dist/css/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="main-text" v-if="showMain">
                <h1>Spindrift</h1>
                <h2>Its amazing</h2>
                <p>
                    Go on. You can touch it.
                </p>
            </div>
            <div class="drink-info" v-if="showDrink" :class="[drink.title.toLowerCase()]">
                <div class="drink-info__text">
                    <h2 class="name">{{ drink.title }}</h2>
                    <p class="text">
                        {{ drink.text }}
                    </p>
                </div>
                <img :src="['_ui/skin/src/' + drink.img]"/>
                <div class="drink-info__info">
                    <ul class="ingredients">
                        <li v-for="item in drink.ingredients">{{ item }}</li>
                    </ul>
                    <table class="nutrition">
                        <tr v-for="(item, index) in drink.nutrition">
                            <td>
                                {{ index }}
                            </td>
                            <td>
                                {{ item }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
        <script>

        </script>
        <script src="app.js"></script>
        <script src="_ui/skin/dist/js/vendor.bundle.js"></script>
        <script src="_ui/skin/dist/js/main.bundle.js"></script>
    </body>
</html>
