<!doctype html>
<html>
    <head>
        <title>Spindrift</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="_ui/skin/dist/css/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="main-text" v-if="showMain">
                <h1>Spindrift</h1>
                <h2>Its amazing</h2>
                <p>
                    Go on. You can touch it.
                </p>
            </div>
            <audio class="alarm-bell">
                <source src="_ui/skin/src/audio/alarm.mp3" type="audio/mp3">
            </audio>
            <div v-show="laCroix" class="lacroix-warning">
                <h1>Alarm</h1>
                <h3>For your the sake of your tastebuds! Please back away from the can!</h3>
            </div>
            <div class="drink-info" v-if="showDrink" :class="[drink.title.toLowerCase()]">
                <div class="message">
                    <div v-show="firstWarning" class="first-warning banner">
                        <h3>Do you two need a moment?</h3>
                    </div>
                    <div v-show="finalWarning" class="final-warning pop-up">
                        <h3>Please let go of the can.</h3>
                    </div>
                    <div v-show="alarm" class="alarm pop-up">
                        <h1>Alarm</h1>
                        <h3>Please back away from the can!</h3>
                    </div>
                    <div v-show="shutdown" class="shut-down full"> 
                        <h3>You broke it.</h3>
                        <h3>You're done. Go home.</h3>
                    </div>
                </div>
                <div class="drink-info__text">
                    <h2 class="name">{{ drink.title }}</h2>
                    <p class="text">
                        {{ drink.text }}
                    </p>
                </div>
                <img :src="['_ui/skin/src/' + drink.img]"/>
                <div class="drink-info__info">
                    <ul class="ingredients">
                        <li v-for="item in drink.ingredients">{{ item }}</li>
                    </ul>
                    <table class="nutrition">
                        <tr v-for="(item, index) in drink.nutrition">
                            <td>
                                {{ index }}
                            </td>
                            <td>
                                {{ item }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
        <script src="app.js"></script>
        <script src="_ui/skin/dist/js/vendor.bundle.js"></script>
        <script src="_ui/skin/dist/js/main.bundle.js"></script>
    </body>
</html>
