$site-purple: #685bc7;
$site-purple-lite: #a8a4e1;
$site-grey: #676f78;
$site-color-halfhalf: #c08d69;
$site-color-halfhalf-header: #81d742;
$site-color-strawberry: #ff7a7b;
$site-color-grapefruit: #fd9ca4;
$site-color-blackberry: #b999c2;
$site-color-cucumber: #9ad3ca;
$site-color-lemon: #a3c6ee;
$site-color-orange: #ffb633;
$site-color-raspberry: #e15c95;
