h3,
h2,
h1,
p,
li,
table {
    font-family: Helvetica, sans-serif;
}
h2,
h1 {
    margin: 0;
    text-transform: uppercase;
}
h1 {
    font-size: 80px;
    color: $site-purple;
}
h2 {
    font-size: 48px;
    color: $site-purple-lite;
}
p,
li,
table {
    color: $site-grey;
}
p {
    margin-top: 20px;
}
li {
    list-style: none;
}
#app {
    position: relative;
    width: 100vw;
    height: 100vh;

    .main-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }
    .drink-info {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100vw;
        height: 100vh;

        &:after {
            content: '';
            position: absolute;
            width: 100vw;
            height: 50vh;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
        &.half {
            &:after {
                background-color: $site-color-halfhalf;
            }
            .name {
                color: $site-color-halfhalf-header;
            }
        }
        &.strawberry {
            &:after {
                background-color: $site-color-strawberry;
            }

            .name {
                color: $site-color-strawberry;
            }
        }
        &.grapefruit {
            &:after {
                background-color: $site-color-grapefruit;
            }

            .name {
                color: $site-color-grapefruit;
            }
        }
        &.blackberry {
            &:after {
                background-color: $site-color-blackberry;
            }

            .name {
                color: $site-color-blackberry;
            }
        }
        &.cucumber {
            &:after {
                background-color: $site-color-cucumber;
            }

            .name {
                color: $site-color-cucumber;
            }
        }
        &.lemon {
            &:after {
                background-color: $site-color-lemon;
            }

            .name {
                color: $site-color-lemon;
            }
        }
        &.orange {
            &:after {
                background-color: $site-color-orange;
            }

            .name {
                color: $site-color-orange;
            }
        }
        &.raspberry {
            &:after {
                background-color: $site-color-raspberry;
            }

            .name {
                color: $site-color-raspberry;
            }
        }
        img {
            max-width: 250px;
        }
        img,
        &__info,
        &__text {
            margin: 0 25px;
        }
        &__info,
        &__text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        &__text {
            width: calc(50% - 50px);
            height: 167px;
            transform: translateY(25px);
        }
        img,
        &__info {
            width: calc(25% - 50px);
        }
        &__info {
            height: auto;
            transform: translateY(37px);
        }
        .name {
            // margin-bottom: 100px;
            font-style: italic;
        }
        .text {
            max-width: 900px;
        }
        .ingredients {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 30px;
            padding-left: 0;
        }
        .ingredients li {
            margin-right: 2px;
            font-style: italic;
            line-height: 1.5;

            &:after {
                content: ', ';
                white-space: pre;
            }
            &:last-child:after {
                content: none;
            }
        }
        .text,
        .nutrition {
            color: white;
            letter-spacing: 1px;
        }
        .nutrition tr td:first-child {
            min-width: 200px;
            text-align: left;
        }
        .nutrition tr td:last-child {
            text-align: right;
        }
    }
    .main-text,
    .lacroix-warning,
    .first-warning,
    .final-warning,
    .alarm,
    .shut-down {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 10;
        background: white;
    }
    .lacroix-warning {
        width: 800px;
        height: 500px;
        top: 50%;
        left: 50%;
        background: red;
        color: white;
        transform: translate(-50%, -50%);
        
        h1 {
            color: white;
        }
    }
    .banner {
        height: 90px;
        width: 100vw;
        top: 100px;
        left: 0;
    }
    .pop-up {
        width: 800px;
        height: 500px;
        top: 50%;
        left: 50%;
        color: red;
        text-transform: uppercase;
        transform: translate(-50%, -50%);
        border: 1px solid red;
        box-shadow: 0 0 5px grey;
        text-align: center;

        h3 {
            font-size: 40px;
        }
    }
    .full {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
    }
    .shut-down {
        color: white;
        background: black;
    }
}

